*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    height: 80px;
    display: flex;
    width: 100vw;
    z-index: 20;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: opacity(0.9) blur(9px) brightness(1.2); /* Other browsers */
    flex-wrap: wrap;
}
body{
    background-color: rgb(53, 46, 46);
}
.English , .Search{
    color: rgb(0, 95, 196);
    text-decoration: none;
    font-family:monospace;
}
.English{
    margin-left: 6%;
    margin-top: 26px;
    font-size: 20px;
}
.Search{
    margin-left: 1%;
    margin-top:28px ;
    font-size: 24px;
}
.Games, .Apps, .MoviesAndSeries, .Developers {
    display: flex;
    text-decoration: none;
    margin-top: 15px;
    font-size: 16px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
}
.Games, .Apps, .MoviesAndSeries{
    margin-left: 2%;
}
.Developers{
    margin-left: 19px;
}
.English:hover, .Search:hover, .Developers:hover, .MoviesAndSeries:hover, .Apps:hover, .Games:hover {
    color: rgb(255, 0, 0);
}
.English:hover, .Search:hover, .Developers:hover, .MoviesAndSeries:hover, .Apps:hover, .Games:hover {
    animation: hover-rainbow 6.5s infinite linear;
}

@keyframes hover-rainbow {
    0% {
        color: rgb(255, 0, 0);
    }
    10% {
        color: rgb(255, 127, 0);
    }
    20% {
        color: rgb(255, 255, 0);
    }
    30% {
        color: rgb(0, 255, 0);
    }
    40% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(75, 0, 130);
    }
    60% {
        color: rgb(148, 0, 211);
    }
    70% {
        color: rgb(206, 93, 255);
    }
    80% {
        color: rgb(255, 20, 147);
    }
    90% {
        color: rgb(165, 21, 98);
    }
    100% {
        color: rgb(255, 0, 0);
    }
}
.main-box-1{
    position: relative;
    width: 100vw;
    height: 750px;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.animation-box{
    position: absolute;
    display: flex;
    min-height: 600;
    width: 480px ;
    height: 750px;
    margin-left: 6%;
    overflow: hidden;
}
.animation-box div{
    scale: 0.99;
    position: absolute;
    width: 25% ;
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    
}
.waterfall-line-2{
    margin-left: 25%;
}
.waterfall-line-3{
    margin-left: 50%;
}
.waterfall-line-4{
    margin-left: 75%;
}
.waterfall-img-1 {
    animation: move-image-1 36s infinite linear reverse, fade-img 4s linear;
}
.waterfall-img-2 {
    animation: move-image-2 33s infinite linear reverse, fade-img 4s linear;
}
.waterfall-img-3 {
    animation: move-image-3 37s infinite linear reverse, fade-img 4s linear;
}
.waterfall-img-4 {
    animation: move-image-4 34s infinite linear reverse, fade-img 4s linear;
}
@keyframes fade-img {
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    }
}
@keyframes move-image-1 {
    0% { 
        transform: translateY(-400%); 
    } 
    100% { 
        transform: translateY(-100%); 
    }
}
@keyframes move-image-2 {
    0% { 
        transform: translateY(-400%); 
    } 
    100% { 
        transform: translateY(-100%); 
    }
}
@keyframes move-image-3 {
    0% { 
        transform: translateY(-400%); 
    } 
    100% { 
        transform: translateY(-100%); 
    }
}
@keyframes move-image-4 {
    0% { 
        transform: translateY(-400%); 
    } 
    100% { 
        transform: translateY(-100%); 
    }
}
.logo-box div {
    scale: 1.2;
}
.logo-box{
    position: absolute;
    height: max-content;
    margin-top: 25vh;
    width: max-content;
    right: 3.5vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    margin-right: 2rem;
    gap: 80px;
    animation: logo-fade-animation 5s normal,logo-move-animation 3s normal;
}
@keyframes logo-fade-animation {
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    }
}
@keyframes logo-move-animation {
    0% { 
        transform: translateX(100%); 
    } 
    100% { 
        transform: translateX(0%); 
    }
}

.logo{
    height: 102.6px ;
    width: 325.755px ;
}
.logo-text-1{
    display: block;
    text-align: end;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: 530px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
}
.myket-download-link{
    background-image:linear-gradient(135deg,#ff00ff,#8a2be2);
    width: 250px;
    height: 55px ;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myket-download-link-a{
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 11px;
    display: block;
}

.main-box-2{
    z-index: 30;
    margin-top: 748px;
    height: 700px; 
    width: 100vw;
    background: linear-gradient(135deg, #000000, #434343);
}
.information-box-number{
    height: 250px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding: 3%;
    padding-top: 5%;
    flex-wrap: wrap;
}
.information-box-number div{
    width: 16%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.number-value-1,.number-value-2,.number-value-3,.number-value-4,.number-value-5,.number-value-6{
    font-size: 50px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    animation: num-rgb 7s infinite linear;
}
@keyframes num-rgb {
    0% {
        color: rgba(0, 0, 255, 0.8);
    }
    25% {
        color: rgba(0, 191, 255, 0.8);
    }
    50% {
        color: rgba(70, 130, 180, 0.8);
    }
    75% {
        color: rgba(30, 144, 255, 0.8);
    }
    100% {
        color: rgba(0, 0, 255, 0.8);
    }
}
.text-vlalue-1,.text-vlalue-2,.text-vlalue-3,.text-vlalue-4,.text-vlalue-5,.text-vlalue-6{
    text-align: center; 
    font-size: 21px;
    color: white;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.information-box-image{
    width: 100vw;
    height: 450px;
    padding: 2%;
    display: flex;
    justify-content: center;
    gap: 2%;
    row-gap: 20px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.information-box-image div{
    background-color: #434343;
    display: flex;
    justify-content: space-between;
    padding-left: 41px ;
    height: 150px ;
    width: 450px ;
    border-radius: 20px ;
    direction: rtl;
    transition: transform 9s ease;
}
.information-box-image div:hover img{
    transform: scale(1.2);
    filter: brightness(1.5);
}
.information-box-image div:hover span{
    transform: scale(1.1);
    filter: brightness(1.2);
}
.information-box-image img{
    scale: 0.65;
    transition: transform 1s ease;
    
}
.information-box-image span{
    display: block;
    margin-top: 45px;
    text-align: center;  
    font-size: 21px;
    color: white;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 1s ease;
}
.text-img-2{
    padding-left: 70px;
}
.text-img-5{
    padding-left: 40px ;
}
.text-img-6{
    padding-left: 35px  ;
}
.text-img-3{
    padding-left: 50px ;
}
.text-img-4{
    padding-left: 40px ;
}
